body {
    background-color: #c5dfc5;
}

p {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    max-width: 62%;
    margin-right: auto;
    margin-left: auto;
}
.link {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
